<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="~/css/bridge.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BridgeWater.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BridgeWater</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="explore" onmouseover="ExploreShop()" data-bs-toggle="dropdown">Magazin</a>
                            <div class="dropdown-menu" id="storeMenu">
                                <a href="/Home/" class="dropdown-item"><img src="~/images/productIcon.png" width="18" height="18" />&nbsp;&nbsp;Toate Produsele</a>
                                <a href="/Plant/" class="dropdown-item"><img src="~/images/plantIcon.png" width="18" height="18" />&nbsp;&nbsp;Plantele mele</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
                <!--<div class="dropdown" id="accountBox">
                    <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" onmouseover="FadeShow()" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="~/images/avatar.png" width="32" height="32" style="border-radius: 50%;" /> <b style="color: white;">Frosty</b>
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="#"><i class="fa fa-plus text-light" aria-hidden="true"></i>&nbsp;&nbsp;Adauga</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="fa fa-gift text-light" aria-hidden="true"></i>&nbsp;&nbsp;Comenzi</a>
                        </li>
                        <li><a class="dropdown-item" href="#"><i class="fa fa-cog text-light" aria-hidden="true"></i>&nbsp;&nbsp;Preferinte</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fa fa-sign-out-alt text-light" aria-hidden="true"></i>&nbsp;&nbsp;Sign Out</a></li>
                    </ul>
                </div>-->
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" id="footerContainer">
            BridgeWater &copy; 2023 - <a asp-area="" asp-controller="Home" id="footerPrivacy" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/bridge.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
