<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/bridge.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BridgeWater.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BridgeWater</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="explore" data-bs-toggle="dropdown">Magazin</a>
                            <div class="dropdown-menu" id="storeMenu">
                                <a href="/Home/" class="dropdown-item"><img src="~/images/productIcon.png" width="18" height="18" />&nbsp;&nbsp;Toate Produsele</a>
                                <a href="/Plant/" class="dropdown-item"><img src="~/images/plantIcon.png" width="18" height="18" />&nbsp;&nbsp;Plantele mele</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
                <form style="margin-right: 44%;">
                    <div class="row">
                        <div class="col-10">
                            <input class="form-control mr-sm-2" type="search" placeholder="⌕ Cautare" aria-label="Cautare">
                        </div>
                        <div class="col-2">
                            <button title="Cauta" class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </form>
                @using BridgeWater.Services;
                @inject IBrowserSupportService browserSupportService;
                @{
                    string? userId = Context.User?.Claims?.FirstOrDefault(u => u.Type == "id")?.Value;
                    string? username = Context.User?.Claims.FirstOrDefault(u => u.Type.Contains("name"))?.Value;
                    string? admin = Context.User?.Claims.FirstOrDefault(u => u.Type == "admin")?.Value;
                    bool hasRights = !string.IsNullOrEmpty(admin) ? Convert.ToBoolean(admin) : false;
                }

                @if (!string.IsNullOrEmpty(userId))
                {
                    <div class="dropdown" id="accountBox">
                        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="/Account/Show/?id=@userId" width="32" height="32" style="border-radius: 50%;" /> <b style="color: white;">@username</b>
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            @if (hasRights)
                            {
                                <li>
                                    <a class="dropdown-item" href="/Home/Create"><i class="fa fa-plus text-light" aria-hidden="true"></i>&nbsp;&nbsp;Adauga</a>
                                </li>
                            }
                            <li>
                                <a class="dropdown-item" href="/Order/"><i class="fa fa-gift text-light" aria-hidden="true"></i>&nbsp;&nbsp;Comenzi</a>
                            </li>
                            <li><a class="dropdown-item" href="/Account/Preferences"><i class="fa fa-cog text-light" aria-hidden="true"></i>&nbsp;&nbsp;Preferinte</a></li>
                            <li><a class="dropdown-item" href="/Account/Signout"><i class="fa fa-sign-out-alt text-light" aria-hidden="true"></i>&nbsp;&nbsp;Sign Out</a></li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-3">
                            <a class="nav-link" style="margin-left: 30%; color: #76bff3 !important;" href="/Account/">Conectare</a>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-1"><p style="color: white; margin-top: 60%;">sau</p></div>
                        <div class="col-1"></div>
                        <div class="col-3">
                            <a class="nav-link" style="margin-left: -40%; color: #a4e194 !important;" href="/Account/Signup">Inregistrare</a>
                        </div>
                        <div class="col-2"></div>
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (!browserSupportService.IsBrowserSupported(Context.Request.Headers["User-Agent"].ToString()))
            {
                <div class="alert alert-danger" role="alert" style="width: 60%; margin-left: 20%;">
                    <h4 class="alert-heading">Acest browser este depreciat!</h4>
                    <p>Pentru a beneficia de o buna functionare a acestui website, actualizati acest browser.</p>
                    <hr>
                    <p class="mb-0">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-2">
                                <a style="text-decoration: none;" href="https://www.google.com/chrome/"><i class="fa fa-chrome fa-sm" style="color: #7777e5;"></i>&nbsp;&nbsp;Chrome</a>
                            </div>
                            <div class="col-2">
                                <a style="text-decoration: none;" href="https://support.apple.com/downloads/safari"><i class="fa fa-safari fa-sm" style="color: #7777e5;"></i>&nbsp;&nbsp;Safari</a>
                            </div>
                            <div class="col-2">
                                <a style="text-decoration: none;" href="https://www.mozilla.org/en-US/firefox/new/"><i class="fa fa-firefox fa-sm" style="color: #7777e5;"></i>&nbsp;&nbsp;Firefox</a>
                            </div>
                            <div class="col-2"></div>
                        </div>
                    </p>
                </div>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" id="footerContainer">
            BridgeWater &copy; 2023 - <a asp-area="" asp-controller="Home" id="footerPrivacy" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script src="~/js/bridge.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
