@using BridgeWater.Models;
@model AccountRequestModel;

@{
	ViewData["Title"] = "Conectare";
	bool valid = Context.Request.Query.ContainsKey("FailCode") ? Convert.ToBoolean(Context.Request.Query["FailCode"]) : false;
}
<div class="container">
	<div class="row">
		<div class="col-4"></div>
		<div class="col-4">
			<div class="row" style="margin-top: 40%; background-color: #eee7d9 !important; padding-top: 12%;">
				<div class="col-2"></div>
				<div class="col-8">
					<script src="~/lib/jquery/dist/jquery.min.js"></script>
					<form action="/Account/Signin" method="post">
						<img class="mb-4" src="/images/logo.png" style="margin-left: 30%;" width="72" height="72">
						<h4 class="h3 mb-3 font-weight-normal">Conectare la cont</h4>
						<label for="address" class="sr-only">Email address</label>
						<input type="email" id="address" name="address" class="form-control" placeholder="Adress" required autofocus><br />
						<label for="password" class="sr-only">Password</label>
						<input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
						@if (valid) {
							<span style="color: #DC4C64; margin-left: 10%;">Parola gresita! <a href="/Account/Recover" style="color: #7a74cc !important; text-decoration: none;">Recuperati?</a></span>
						}
						<a href="/Account/Recover" style="color: #266fbb !important; margin-left: -10px; margin-top: 2%;" class="nav-link">Ai uitat parola?</a>
						<div class="row" style="margin-top: 5%;">
							<div class="col-2"></div>
							<div class="col-4">
								<button class="btn btn-sm btn-primary btn-block" type="submit">Conectare</button>
							</div>
							<div class="col-4">
								<a class="btn btn-sm btn-outline-info btn-block" href="/Account/Signup">Inregistrare</a>
							</div>
							<div class="col-2"></div>
						</div>
						<p class="mt-5 mb-3 text-muted" style="margin-left: 20%;">BridgeWater &copy; 2023</p>
					</form>
				</div>
				<div class="col-2"></div>
			</div>
		</div>
		<div class="col-4"></div>
	</div>
</div>
