@{
    ViewData["Title"] = "Privacy Policy";
}

<section data-bs-version="5.1" class="header" id="header">
    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(237, 245, 225) !important;"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1" style="color: #2d74bb;"><strong>Bridge Water</strong></h1><br/>
                        <p class="mbr-text mbr-fonts-style display-7">
                            <strong style="color: #b4c7ff;">
                                Acest magazin contine o gama larga de produse pentru tratarea plantelor de diverse afectiuni, precum si o prezentare a diverselor soiuri de plante.
                            </strong>
                        </p>
                        <p class="mbr-text mbr-fonts-style display-7">
                            <strong style="color: #b4c7ff;">
                                Se pot achizitiona diverse produse, cu preturi variabile si puteti de asemenea sa lasati recenzii care ne pot ajuta sa imbunatatim calitatea serviciilor.
                            </strong>
                        </p><br/>
                        <div class="mbr-section-btn mt-3" style="margin-left: 25%;">
                            <a class="btn btn-primary display-4" href="/Home/">Acasa</a> 
                            <a class="btn btn-secondary display-4" style="margin-left: 1%;" href="#more">Mai multe</a>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div> 
            </div>
        </div>
    </div>
</section>
<section data-bs-version="5.1" class="more" id="more">
    <div class="container">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Despre Noi</h4>
            <p>Evaluam constant calitatea informatiilor de pe site, a produselor, preturilor si comunicarea specialistilor nostri.</p>
            <p>Vrem sa ai toate informatiile necesare pentru a face alegerea potrivita pentru gradina ta. Incercam sa completam mereu descrierile de produse si sa venim cu articole <br/>care sa te ajute sa iti ingrijesti mai bine plantele de apartament, sau pe cele din gradina. Postam mereu pe blogul nostru articole despre boli ale plantelor, sfaturi pentru ingrijirea si cultivarea lor si despre substante ce nu ar trebui sa fie folosite.</p>
            <p>Produsele pe care le recomandam au fost testate si stim care sunt cele mai bune alternative pentru bolile plantelor sau pentru cresterea lor sanatoasa. Incercam sa avem cele mai mici preturi pentru ca oricine sa-si poata permite avantajele pe care le ofera produsele ideale pentru gradina. Partenerii nostri de afaceri sunt alesi dintre cei mai buni, <br/>astfel clientii nostri au parte de cea mai buna selectie de produse.</p>
            <hr>
            <p class="mb-0">Oferirea asistentei si produselor de calitate fermierilor amatori si profesionisti, asigurand astfel o relatie profesionista de lunga durata.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
            </div>
        </div>
    </div>
</section>