html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #333741;
}

nav, footer {
    background-color: #353a48;
}

#plantPanel {
    width: 100%;
    margin-bottom: 1%;
    margin-left: 1px;
    border: 1px solid #6c757d;
}

#footerContainer {
    margin-left: 42%;
    color: white;
}

.navbar-brand {
    color: #b0c7e9;
}

.navbar-brand:hover {
   color: #64b086;
}

.nav-link {
    color: #b0c7e9;
}

.nav-link:hover {
    color: #eab676;
}

#footerPrivacy {
    text-decoration: none;
    color: #b0c7e9 !important;
}

#footerPrivacy:hover {
    color: #eab676 !important;
}