html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #eef1e3;
}

nav, footer {
    background-color: #353a48;
}

#accountBox {
    margin-right: 1%;
}

#plantPanel {
    width: 100%;
    margin-bottom: 1%;
    margin-left: 1px;
    border: 1px solid #6c757d;
}

#footerContainer {
    margin-left: 42%;
    color: white;
}

.navbar-brand {
    color: #b0c7e9;
}

.navbar-brand:hover {
   color: #64b086;
}

.nav-link {
    color: #b0c7e9;
}

.nav-link:hover {
    color: #eab676;
}

.dropdown-toggle {
    color: #b0c7e9 !important;
}

.dropdown-toggle:hover {
    color: #eab676 !important;
}

.dropdown-item {
    color: #b0c7e9 !important;
}

.dropdown-item:hover {
    color: #eab676 !important;
    background-color: #353a48;
}

.dropdown-menu {
    background-color: #353a48;
}

#footerPrivacy {
    text-decoration: none;
    color: #b0c7e9 !important;
}

#footerPrivacy:hover {
    color: #eab676 !important;
}

.fa-eye {
    color: #4169E1;
}

.fa-trash {
    color: #d9534f;
}

#productField {
    background-color: #edf5e1;
    color: #05386b;
}

#products tbody tr:hover td {
    background-color: #f5e1e9 !important;
    color: black;
}

#navigation {
    margin-left: 40%;
    background-color: #f1e3e3;
}

.page-link {
    font-weight: bold;
}

.page-item:not(.active) {
    border: 1px solid #f1e3e3;
    border-radius: 10%;
}

#searchByCategory {
    border-radius: 25%;
    margin-left: 15%;
}

#home {
    color: #7e5454;
    text-decoration: none;
    font-weight: bold;
}

#productNav, #productxNav {
    color: #203d6c;
    font-weight: bold;
}

    #productNav.active::before {
        color: #4d6568;
    }

#navy {
    margin-top: 5%;
    background-color: #f1e3e3;
    color: black;
}

#category {
    background-color: #50576a !important;
    color: #b0c7e9 !important;
}

#category:hover {
    color: #eab676 !important;
}

#CategoryItem {
    color: #b0c7e9 !important;
}

#CategoryItem:hover {
    color: #eab676 !important;
}

#buy {
    color: white;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    background-color: #66BB6A;
    border-radius: 24px;
    margin-bottom: 10%;
    margin-top: 5%;
    width: 140px;
}

#quantity {
    width: 140px;
}

#productShortView {
    background-color: #f1e3e3;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

#alertBox {
    width: 50%;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

#alertPanel, #buyPanel {
    margin-left: 15%;
}

.product-name {
    margin-left: -30px;
    margin-bottom: 10%;
    font-family: Open Sans;
    font-style: normal;
    color: #404041;
}

.product-rating {
    margin-left: 15%;
    margin-top: 15%;
    font-size: 18px;
    font-weight: bold;
    font-family: Open Sans;
    font-style: normal;
    color: #404041;
}

.product-available {
    margin-top: 15%;
    font-size: 18px;
    font-weight: bold;
    font-family: Open Sans;
    font-style: normal;
    color: #404041;
}

.rate {
    font-family: Open Sans;
    font-style: normal;
    color: #404041;
}

.product-box {
    margin-top: 2%;
}

.price {
    color: #66BB6A;
    font-size: 25px;
    font-weight: bold;
    margin-left: 15%;
}

.regular-price {
    color: #66BB6A;
    font-size: 25px;
    margin: 0;
    font-weight: bold;
    order: 2;
}

.price-box {
    width: 100%;
    margin: 10px 0 5px;
    text-align: left;
    display: inline-grid;
    font-family: Open Sans Condensed;
    font-style: normal;
    line-height: 46px;
}

#navx {
    margin-top: 5%;
    background-color: #d5d4d4;
    font-weight: bold;
}

#core, #next {
    text-decoration: none;
    font-weight: bold;
    color: #687f37;
}

#navz {
    margin-top: 1%;
    background-color: #f1e3e3;
    font-weight: bold;
    margin-left: -8%;
}

#productxNav.active::before {
    color: #6c757d;
}

#poster {
    margin-bottom: 8%;
}

.product-description {
    padding-bottom: 50px;
    border-bottom: 1px solid #e1e1e1;
    border-color: #687f37;
    margin-top: 40px;
}

.product-tech {
    padding-bottom: 50px;
    border-bottom: 1px solid #e1e1e1;
    border-color: #687f37;
    margin-top: 40px;
}

.header {
    padding-top: 15rem;
    padding-bottom: 12rem;
    background-color: #ffffff;
    background-image: url(../images/about.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    word-wrap: break-word;
}

.more {
    padding-top: 15rem;
    padding-bottom: 12rem;
}