@using BridgeWater.Services;
@inject PlantService plantService;

@{
    string id = Context.Request.Query["id"];
    Plant plant = await plantService.GetProductAsync(id);
    if (plant != null) ViewData["Title"] = plant.name;
}

@if(plant != null)
{
    <div class="container bg-dark">
        <div class="row">
            <div class="col-12">
                <img class="card-img-top" width="1200" height="300" src="/Plant/Show/?id=@plant.Id&face=false" alt="@plant.name" />
            </div>
        </div>
        <div class="row">
            <div class="col-2" style="width: 100%; margin-bottom: 1%; border: 1px solid #6c757d;">
                <br/><h5 class="text-light">@plant.category</h5>
                <p class="text-light">@plant.name</p>
            </div>
            <div class="col-9 text-light">@Html.Raw(plant.description?.body)</div>
            <div class="col-1"></div>
        </div>
    </div>
}
else {
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <h4 style="color: #5e2d32;" class="alert-heading">No result found!</h4>
                <p style="color: #282A35;">It is possible that the search index is not available on the server at the moment.</p>
                <hr>
                <p style="color: #282A35;" class="mb-0">We apologize for this unexpected situation!</p>
                <button onclick="location.href = '/Plant/';" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
}
