@using BridgeWater.Services;
@inject PlantService plantService;

@{
    #pragma warning disable
    ViewData["ActionName"] = "/Plant/SearchPlants";
    string id = Context.Request.Query["id"];
    Plant plant = await plantService.GetProductAsync(id);
    if (plant != null) ViewData["Title"] = plant.name;
}
<br />
<br />
@if(plant != null)
{
    <div class="container bg-dark" style="width: 80%;">
        <div class="row">
            <div class="col-12">
                <img class="card-img-top" width="900" height="400" src="/Plant/Show/?id=@plant.Id&face=false" alt="@plant.name" />
            </div>
        </div><br/>
        <div class="row">
            <div class="col-2" id="plantPanel">
                <br/><h5 class="text-light">@plant.category</h5>
                <p class="text-light">@plant.name</p>
            </div><br/>
            <div class="col-9 text-light">@Html.Raw(plant.description?.body)</div>
            <div class="col-1"></div>
        </div>
    </div>
}
else {
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <h4 style="color: #5e2d32;" class="alert-heading">Nu a fost gasit nici un rezultat!</h4>
                <p style="color: #282A35;">Este posibil ca indexul de cautare sa nu fie disponibil momentan pe server.</p>
                <hr>
                <p style="color: #282A35;" class="mb-0">Ne cerem scuze pentru aceasta situatie neasteptata!</p>
                <button onclick="location.href = '/Plant/';" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
}
<br />
<br />
